    /* Mobile first */     
    /* de 320px à 819px */

    /* grands ensembles et classes racourcies*/
    
    *{
        box-sizing: border-box;
    }
    :root{   
        
        /* mélange de ciblage dans les couleurs, il faudrait 50 variables pour chaque role ce qui alourdirait le code */
        
        --couleur-o: transparent;
        --couleur-prem: #0065FC;  
        --couleur-sec: #DEEBFF;
        --couleur-tert: #F2F2F2;
        --couleur-qua: black;  

        /* bordure */

        --petite-bord: 15px;
        --grande-bord: 20px;

        /* font */

        --raleway: 'Raleway', sans-serif;
        --gras: 700;
        --h1: 1.4em;
        --h2: 1.4em;
        --h3: 1.3em;
        --h4: 1.1em;
        --p: 1em;
        --pprix: 0.8em;
    }
    body{
        font-family: var(--raleway);
        margin: 0 auto;
        padding: 0;
        color: var(--couleur-qua);
        font-weight: 500;
        height: 100vh;
    }
    ::selection{
        color: var(--couleur-prem);
        background-color: var(--couleur-tert);
    }
    :link{
        color: var(--couleur-qua);
    }
    .flexible{
        display: flex;
    }
    .relative{
        position: relative;
    }
    .absolue{
        position: absolute;
    }

    /* couleur recommandées */

    .bleu{
        color: var(--couleur-prem);
    }
    .bleu-c{
        color: var(--couleur-sec);
    }
    .gris{
        color: rgb(199, 198, 198);
    }
    .fe-gris{
        background-color: var(--couleur-tert);
    }
    .fe-bleu-c{
        background-color: var(--couleur-sec);
    }

    /* texte */

    a{
        text-decoration: none; 
    }
    :visited{
        color: var(--couleur-qua);
    }
    .centrer{
        text-align: center;
    }
    .gras{
        font-weight: var(--gras);
    }

    /* byebye alerte w3c*/

    h5{
        display: none;
    }

    /* logo menu */

    .logo-menu{
        height: 130px;
        width: 100%;
    }

    /*logo*/

    .logo-menu p{
        left: 15px;
        top: 3px;
    }
    .logo-menu p img{
        width: 100px;
    }

    /* menu */

    nav{
        min-width: 100%;
    }
    nav ul{
        flex-flow: row-reverse wrap-reverse;
        padding-left: 0;
        margin: 0;
        padding-top: 37px;
    }
    nav ul li{
        min-width: 50%;
        list-style: none;
    }
    .un{
        order: 2;
    }
    .un, .deux{
        padding: 37px 0 15px 0;
        border-bottom: 2px solid var(--couleur-tert);
    }
    .trois{
        align-self: flex-start;
        order: 3;
        text-align: end;
        margin-right: 20px;
    }
    
    /* interaction menu */

    .trois a:link{
        color: var(--couleur-prem);
    }
    .trois a:visited{
        color: var(--couleur-prem);
    }
    .un:hover, .deux:hover{
        border-bottom: 2px solid var(--couleur-prem);
        cursor: pointer;
    }
    .un:hover a, .deux:hover a{
        color: var(--couleur-prem);
    } 

    /* tête de page */

    header{
        margin: 0 5%;
    }

    /* slogan */

    .slogan{
        margin-top: 30px;
    }
    .slogan h1{
        font-size:var(--h1);
    }
    .slogan p{
        font-size: 1em;
    }

    /* moteur de recherche header */

    form{
        width: 100%;
        margin: 25px auto;
        height: 50px;
        align-items: center;
        border: 1px solid var(--couleur-tert);
        border-radius:var(--petite-bord);
    }

    /*zone de l'icone*/

    .localisation{
        padding: 17px 19px 17px 19px;
        border-top-left-radius: var(--petite-bord);
        border-bottom-left-radius: var(--petite-bord);
        font-size: 1.1em;
    }

    /*zone du texte*/

    input[type='search']{
        height: 48px;
        width: 100%;
        margin: 0 10px;  
        font-size: 1em;
        font-weight: var(--gras);
        border: none;
        font-family: var(--raleway);
    }
    .texte{
        display: none;
    }

    /*zone du bouton*/

    form[action="traitement.php"] button{
        background-color: var(--couleur-prem);
        color: white;
        height: 50px;
        border: none;
        border-radius: var(--petite-bord);
        font-size: 1.2em;
        padding: 0 15px;
        cursor: pointer;      /* censé être sur:hover mais en simulation tactile, si je ne le rajoute pas là il ne se passe rien car réactif à <a> */
    }
    .bouton{
        display: inline;
    }

    /* interaction moteur de recherche */

    form[action="traitement.php"] button:hover{
        background-color: var(--couleur-sec);
        color: var(--couleur-prem);
        border-color: var(--couleur-tert);
        border-left: none;
        cursor: pointer;
    }

    /* filtre header */

    form[action='filtre.php']{
        border: none;
    }
    form[action='filtre.php'] input[type='button']{
        font-family: var(--raleway);
        background-color: var(--couleur-o);
        color: var(--couleur-qua);
        padding-right: 15px;
        font-size: 1em;
        font-weight: var(--gras);
        border: none; 
        cursor:pointer;
    }
    .ensemble-filtre{
        flex-wrap: wrap;
        height: 100%;
    }
    .ensemble-filtre p{
        width: 100%;
    }
    .filtre-transformation{
        flex-direction: row-reverse;
        border: 2px solid rgb(199, 198, 198);
        border-radius: 30px;
        border-left: none;
        align-items: center;
        max-height: 51.6px; 
        margin: 0 8px 10px 5px;
        cursor: pointer;      /* censé être sur:hover mais en simulation tactile, si je ne le rajoute pas là il ne se passe rien car réactif à <a> */
    }
    label{ 
        border-radius: 30px;
        right: 2px;
        cursor: pointer;
    }
    .filtre-transformation i{
        font-size: 1.1em;
    }

    /*icones de filtres */

    .fa-money-bill-wave{
        padding: 17px 15px 17px 15px;
    }
    .fa-child{
        padding: 17px 19px 17px 19px;
    }
    .fa-heart{
        padding: 17px 17px 17px 17px;
    }
    .fa-dog{
        padding: 17px 16px 17px 16px;
    }
    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
        border-radius: 30px; 
    }

    /* interaction filtre */

    .ensemble-filtre p a:hover{
        color: var(--couleur-prem); 
    }
    .filtre-transformation:hover{
        color: var(--couleur-prem);
        background-color: var(--couleur-sec); 
        border-color: var(--couleur-o);
        box-shadow: 1px 1px 4px 1px var(--couleur-qua);
        cursor: pointer;
        -webkit-transition: 0.5s box-shadow;
        -ms-transition: 0.5s box-shadow;
        -moz-transition: 0.5s box-shadow;
        -o-transition: 0.5s box-shadow;
        transition: 0.5s box-shadow;
    }
    .filtre-transformation:hover i{
        background-color: var(--couleur-prem);
        color: var(--couleur-sec);
    }

    /* information header */

    .info{
        margin-top: 30px;
    }
    .info i {
        font-size: 0.7em;
        border: 1px solid rgb(199, 198, 198);
        border-radius: 12px;
        min-width: 20px;
        height: 20px;
        padding: 3px 2px 2px 2px;
    }
    .info p{
        margin: 0 0 25px 10px;
    }

    /* interaction information */

    .info a:hover i{
        color: var(--couleur-sec);
        background-color: var(--couleur-prem);
    }

    /* section hero */

    /* main, premiere section, hebergement et populaire */

    main{
        margin: 15px 0 10px 0;
    }
    .premiere-section{
        flex-direction: column-reverse; 
    }
   
    /* Hebergement */

    /* carte informative hebergement */

    .ensemble-carte-informative-article a, .ensemble-carte-informative-populaire a{
        box-shadow: 1px 3px 8px 1px #e2e2e2;
        border-radius: var(--grande-bord); 
    }

    /* hebergement */

    article h2{
        font-size: var(--h2); 
        padding-top: 18px;
        margin-left: 5%;
        margin-bottom: 10px;
    }
    .ensemble-carte-informative-article{
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
        height: 1260px;  
    }
    .ensemble-carte-informative-article a{
        width: 90%;
    }
    .carte-informative-article{
        border-radius: var(--grande-bord); 
        height: 190px;
        margin-top: 5px;
    }
    .carte-informative-article img{
        width: 100%;
        height: 115px;
        object-fit: cover;
        border-top-left-radius: var(--petite-bord);
        border-top-right-radius: var(--petite-bord);
    }
    .carte-informative-article p{
        margin: 2px 20px 2px 7%;
    }
    .prix{
        font-size: var(--pprix);
        line-height: 1.8em;
    }
    .plus{
        margin: 0 0 25px 3%;
        padding: 25px 0 0 10px;
        font-size: 1.1em;
    }

    /* éléments texte des cartes article et populaire */

    .carte-informative-article p[class='lieu gras'], .carte-informative-populaire p[class='lieu gras']{
        font-size: var(--p);
    }
    .carte-informative-article p i, .carte-informative-populaire p i{
        font-size: 0.7em;  
    }
    span{
        margin: 0 2px;
    }

    /* spécificité carte hebergement */

    .cannebiere, .port, .mouettes, .mer, .panier, .amina{
        height: 115px;
        border-top-left-radius: var(--petite-bord);
        border-top-right-radius: var(--petite-bord);
        margin: 0 5px;
    }
    
    /*les plus populaires*/

    .populaire h2{
        margin: 0 5%;
        font-size: var(--h2); 
        padding-top: 38px;
    }
    .populaire h2 i{
        right: 0;
        font-size: 1em;
    }
    .ensemble-carte-informative-populaire{
        flex-flow: row wrap;
        justify-content: center;
        margin: 24px 0;
        height: 465px;
    }
    .ensemble-carte-informative-populaire a{
        width: 90%;
        height: 145px;
    }
    .carte-informative-populaire{
        align-items: center;
        background-color: white;
        border-radius: var(--grande-bord); 
        height: 145px;
    }
    .carte-informative-populaire img{
        width: 100%;
        height: 134px;
        border-top-left-radius: var(--petite-bord);
        border-bottom-left-radius: var(--petite-bord);
        object-fit: cover;
    }
    .texte2{
        width: 57%;
        height: 105px;
        margin-left: 4.5%;
    }
    .texte2 .etoile{
        bottom: 0;
    }
    .texte2 p{
        margin: 0px 10px 2px 10px;
    }
    .texte2 p:last-child{
        padding-bottom: 10px;
    }
    
    /*carte spécifique populaire*/

    .soleil, .coeur, .blanc{
        width: 38%;
        height: 134px;
        margin-left: 5px;
        border-top-left-radius: var(--petite-bord);
        border-bottom-left-radius: var(--petite-bord);
    }

    /* interaction populaire */

    .populaire h2 i:hover{
        color: var(--couleur-prem);
        cursor: pointer;
    }

    /* interaction cartes article et populaire */

    .ensemble-carte-informative-article a:hover, .ensemble-carte-informative-populaire a:hover{
        box-shadow: 2px 3px 8px 2px var(--couleur-qua);
        -webkit-transition: 0.5s box-shadow;
        -ms-transition: 0.5s box-shadow;
        -moz-transition: 0.5s box-shadow;
        -o-transition: 0.5s box-shadow;
        transition: 0.5s box-shadow;
    }
    a .carte-informative-article:hover p i[class='fas fa-star bleu'], a .carte-informative-populaire:hover p i[class='fas fa-star bleu']{
        -webkit-animation: 1s opacité infinite;
        -ms-animation: 1s opacité infinite;
        -moz-animation: 1s opacité infinite;
        -o-animation: 1s opacité infinite;
        animation: 1s opacité infinite;
    }
    a .carte-informative-article:hover p i[class='fas fa-star gris'], a .carte-informative-populaire:hover p i[class='fas fa-star gris']{
    -webkit-animation: 0.3s bouge;
    -ms-animation: 0.3s bouge;
    -moz-animation: 0.3s bouge;
    -o-animation: 0.3s bouge;
    animation: 0.3s bouge;
    }

    /* animation opacité */

    @-webkit-keyframes  opacité{
        00%{opacity: 1;}
        40%{opacity: 1;}
        70%{opacity: 0.7;}
        100%{opacity: 0.4;}
    }
    @-ms-keyframes  opacité{
        00%{opacity: 1;}
        40%{opacity: 1;}
        70%{opacity: 0.7;}
        100%{opacity: 0.4;}
    }
    @-moz-keyframes  opacité{
        00%{opacity: 1;}
        40%{opacity: 1;}
        70%{opacity: 0.7;}
        100%{opacity: 0.4;}
    }
    @-o-keyframes  opacité{
        00%{opacity: 1;}
        40%{opacity: 1;}
        70%{opacity: 0.7;}
        100%{opacity: 0.4;}
    }
    @keyframes  opacité{
        00%{opacity: 1;}
        40%{opacity: 1;}
        70%{opacity: 0.7;}
        100%{opacity: 0.4;}
    } 

    /* animation bouge */

    @-webkit-keyframes  bouge{
        25%{transform: translateY(-1px);}
        50%{transform: translateY(1px);}
        75%{transform: translateY(-1px);}
        100%{transform: translateY(1px);}
    }
    @-ms-keyframes  bouge{
        25%{transform: translateY(-1px);}
        50%{transform: translateY(1px);}
        75%{transform: translateY(-1px);}
        100%{transform: translateY(1px);}
    }
    @-moz-keyframes  bouge{
        25%{transform: translateY(-1px);}
        50%{transform: translateY(1px);}
        75%{transform: translateY(-1px);}
        100%{transform: translateY(1px);}
    }
    @-o-keyframes  bouge{
        25%{transform: translateY(-1px);}
        50%{transform: translateY(1px);}
        75%{transform: translateY(-1px);}
        100%{transform: translateY(1px);}
    }
    @keyframes  bouge{
        25%{transform: translateY(-1px);}
        50%{transform: translateY(1px);}
        75%{transform: translateY(-1px);}
        100%{transform: translateY(1px);}
    }

    /* interaction du main */

    .plus a:hover{
        color: var(--couleur-prem);
    }

    /* Activités à Marseille */

    .activité{
        margin: 0 0 30px 0;
    }
    .activité h3{
        margin: 10px 0 10px 5%;
        padding-top: 12px;
        font-size: var(--h3);
    }
    .carte-activité{
        flex-flow: column wrap;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: 1300px;
    }
    .carte-activité img{
        width: 100%;
        height: 133px;
        object-fit: cover;
        border-top-left-radius: var(--grande-bord);
        border-top-right-radius: var(--grande-bord);
    }
    .carte-activité a{
        border-radius: var(--grande-bord);
        box-shadow: 1px 3px 8px 1px #e2e2e2;
        width: 90%;
    }
    .carte-informative3, .carte-informative4, .carte-informative5, .carte-informative6, .carte-informative7{
        height: 190px;
        border-radius: var(--grande-bord); 
    }
    .carte-informative3 p, .carte-informative4 p, .carte-informative5 p, .carte-informative6 p, .carte-informative7 p{
        margin-left: 3%;
        font-size: var(--p);
        margin-top: 20px;
    }

    /*carte spécifique activité*/

    .vieuxport, .pnc, .pomegues, .frioul, .nddlg, .longchamp{
        height: 133px;
        border-top-left-radius: var(--grande-bord);
        border-top-right-radius: var(--grande-bord);
    }

    /* interaction activité */

    .carte-activité a:hover{
        box-shadow: 2px 3px 8px 2px var(--couleur-qua);
        -webkit-transition: 0.5s box-shadow;
        -ms-transition: 0.5s box-shadow;
        -moz-transition: 0.5s box-shadow;
        -o-transition: 0.5s box-shadow;
        transition: 0.5s box-shadow;
    }

    /* pied de page */

    footer{
        padding-bottom: 40px; 
        padding-top: 10px;
    }
    .pied-de-page{   
        line-height: 0.75em;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 1.3%;
    }
    .pied-de-page div{
        margin: 0 5.9%;
    }
    .pied-de-page div H4{
        padding: 15px 0 10px 0;
        font-size: var(--h4);
    }
    
    /* interaction pied de page */

    .pied-de-page div a:hover{
        color: var(--couleur-prem);
    }

    /* media 820px à 1349px */

    @media screen and (min-width: 820px) and (max-width: 1023px){

        /* article */

        .ensemble-carte-informative-article{
            height: 675px;
        }
        .ensemble-carte-informative-article a{
            width: 42.5%;
        }

        /* activité */

        .carte-activité{
            flex-flow: row wrap;
            justify-content: space-evenly;
            height: 675px;
        }
        .carte-activité a{
            width: 42.5%;
        }
    }

    /* media au dessus de 1024px */

    @media screen and (min-width: 1024px){

        :root{
            --p: 0.79em;
            --pprix: 0.69em;
        }

        /* body */

        body{
            max-width: 1600px;
        }
        
        /* main */

        #main-wrapper main{
            margin-top: 10px;
        }

        /* menu logo */

        /* logo */

        .logo-menu{
            height: 95px;
        }
        .logo-menu p{
            left: 50px;
            top: 30px;
        }

        /* menu */

        nav{
            min-width: 460px;  
            width: 460px;
            position: absolute;
            right: 1%;
        }
        nav ul{
            flex-flow: row nowrap;
            justify-content: space-evenly;
            padding: 0;
        }
        nav ul li{
            min-width: 30%; 
        } 
        .un, .deux, .trois{
            order: unset;
            padding: 50px 0 0 0;
            border-bottom: none;
            border-top: 2px solid var(--couleur-o);
        }
        .trois{
            text-align: center;
        }

        /* interaction menu logo */

        .un:hover, .deux:hover{
            border-bottom: none;
            border-top: 2px solid var(--couleur-prem);
        }

        /* header */

        header{
            margin: 0 3%;
        }

        /* slogan */

        .slogan{
            line-height: 1.1em;
        }

        /* moteur de recherche */

        form[action="traitement.php"]{
            width: 420px;
            margin: 0;
        }

        /* bouton moteur de recherche */

        form button[type='submit']{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        button[type='submit'] .bouton i{
            display: none;
        }
        button[type='submit'] .texte{
            display: inline;
        }

        /* filtres */

        .ensemble-filtre{
            margin: 30px 0;
        }
        .ensemble-filtre p{
            width: unset;
            margin: 0 30px 0 10px;
        }
        .filtre-transformation{
            margin-right: 20px;
        }

        /* section hero */

        main{
            margin-top: 40px;
        }
        .premiere-section{
            flex-direction: row;
            justify-content: space-evenly;
        }

        /* article */

        article{
            background-color: var(--couleur-tert);
            border-radius: var(--grande-bord);
            max-width: 61%;
            padding: 0 1%;
            min-height: 100%;
        }
        article h2{
            padding-top: 20px; 
            margin: 18px 0 10px 3%; 
        }
        .ensemble-carte-informative-article{
            align-content: space-around;
            height: 450px;
        }
        .ensemble-carte-informative-article a{
            background-color: white;
            width: 29%;
        }
        .carte-informative-article{
            width: 100%;
        }
        .plus {
            margin-left: 2%;     
            padding: 25px 0 20px 10px;
        }

        /* populaire */

        .populaire{
            max-width: 29%;
            border-radius: var(--grande-bord);
            padding: 0;
            min-height: 100%;
            margin-top: 0;
        }
        .populaire h2{
            padding-top: 20px;  
            margin: 18px 0 10px 8%; 
        }
        .populaire h2 i{
            right: 25px;
        }
        .ensemble-carte-informative-populaire{
            height: 85%;
            margin: 0;
            align-items: center;
        }
        .ensemble-carte-informative-populaire a{
            width: 84%;
        }
        .carte-informative-populaire{
            width: 100%;
        }
        .carte-informative-populaire img{
            width: 100%;
        }
        .soleil, .coeur, .blanc {
            min-width: 36%;
            width: 36%;
        }
        /* activité */

        .activité{
            margin: 0 3.4% 0 3.4%;
        }
        .activité h3{
            margin: 60px 3.5% 22px 3.5%;
        }
        .carte-activité{
            height: 445px;
            align-content: space-between;
            justify-content: space-between;
        }
        .carte-activité a{
            width: 22.5%;
        }
        .carte-informative3 p, .carte-informative4 p, .carte-informative5 p, .carte-informative6 p, .carte-informative7 p{
            text-indent: 18px;
            font-size: var(--p);
            margin-top: 20px;
        }
        
        /* carte informative activité */
        
        .carte-informative3{
            Height: 444px;
            border-radius: var(--grande-bord); 
        }
        .carte-informative4{
            height: 235px;
            border-radius: var(--grande-bord); 
        }
        .carte-informative5{
            height: 165px;
            border-radius: var(--grande-bord); 
        }
        .carte-informative6{
            height: 195px;
            border-radius: var(--grande-bord); 
        }
        .carte-informative7{
            height: 210px;
            border-radius: var(--grande-bord); 
        }
        
        /*carte spécifique activité*/
        
        .vieuxport, .vieuxport img{
            Height: 390px;
        }
        .pnc, .pnc img{
            Height: 390px;
        }
        .pomegues, .pomegues img{
            Height: 180px;
        }
        .frioul, .frioul img{
            Height: 110px;
        }
        .nddlg, .nddlg img{
            Height: 140px;
        }
        .longchamp, .longchamp img{
            Height: 154px;
        }

        /* pied de page */

        footer{
            padding-top: 0;
            margin-top: 55px;
            padding-bottom: 45px;
        }
        .pied-de-page{
            justify-content: flex-start;
        }
        .pied-de-page div{
            margin: 0px 2.9%;
            width: 26%;
        }
        .pied-de-page div h4{
            padding: 25px 0 10px 0;
        }
    }

    /* ajustement variable > 1250px */

    @media screen and (min-width: 1260px){
        :root{
            --p: 1em;
            --pprix: 0.8em;
        }
    }