    /* Mobile first */     
     
    *{
        box-sizing: border-box;
    }
    body{
        font-family: 'Raleway', sans-serif;
        margin: 0 auto;
        padding: 0;
        color: black;
        font-weight: 500;
    }
    ::selection{
        color: #0065FC;
        background-color: #F2F2F2;
    }
    :link{
        color: black;
    }
    .flex{
        display: flex;
    }
    .relative{
        position: relative;
    }
    .absolute{
        position: absolute;
    }

    /* couleur recommandées */

    .bleu{
        color: #0065FC;
    }
    .bg-gris{
        background-color: #F2F2F2;
    }
    .bg-bleu-c{
        background-color: #DEEBFF;
    }


    /* texte */

    a{
        text-decoration: none; 
    }
    :visited{
        color: black;
    }
    .centrer{
        text-align: center;
    }
    .bolder{
        font-weight: bolder;
    }

    /* logo menu */

    .logo-menu{
        height: 130px;
        width: 100%;
    }

    /*logo*/

    .logo-menu p{
        left: 15px;
        top: 3px;
    }
    .logo-menu p img{
        width: 100px;
    }

    /* menu */

    nav{
        min-width: 100%;
    }
    nav ul{
        flex-flow: row-reverse wrap-reverse;
        padding-left: 0;
        margin: 0;
        padding-top: 37px;
    }
    nav ul li{
        min-width: 50%;
        list-style: none;
        
    }
    .un{
        order: 2;
    }
    .un, .deux{
        padding: 37px 0 15px 0;
        border-bottom: 2px solid #F2F2F2;
    }
    .trois{
        align-self: flex-start;
        order: 3;
        text-align: end;
        margin-right: 20px;
        color: #0065FC;
    }
    
    /* interaction menu */

    .trois a:link{
        color: #0065FC;
    }
    .trois a:visited{
        color: #0065FC;
    }
    .un:hover, .deux:hover{
        border-bottom: 2px solid #0065FC;
        cursor: pointer;
    }
    .un:hover a, .deux:hover a{
        color: #0065FC;
    } 

    /* tête de page */

    header{
        margin: 0 5%;
    }

    /* slogan */

    .slogan{
        margin-top: 35px;
    }
    .slogan h1{
        font-size: 1.4em;
    }
    .slogan p{
        font-size: 1em;
    }

    /* moteur de recherche header */

    form{
        width: 100%;
        margin: 25px auto;
        height: 50px;
        align-items: center;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
    }

    /*zone de l'icone*/

    .localisation{
        padding: 17px 19px 17px 19px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        font-size: 1.1em;
    }

    /*zone du texte*/

    input[type='search']{
        height: 30px;
        width: 100%;
        margin: 10px 10px;  
        font-size: 1rem;
        font-weight: 700;
        border: none;
        font-family: 'Raleway', sans-serif;
    }
    input[placeholder], input[required]{
        color: black;
    }
    .texte{
        display: none;
    }

    /*zone du bouton*/

    button{
        background-color: #0065FC;
        color: white;
        height: 50px;
        border: none;
        border-radius: 15px;
        font-size: 1.2em;
        padding: 0 15px;
        cursor: pointer;      /* censé être sur:hover mais en simulation tactile, si je ne le rajoute pas là il ne se passe rien car réactif à <a> */
    }
    .bouton{
        display: inline;
    }

    /* interaction moteur de recherche */

    form button[type='submit']:hover{
        background-color: #DEEBFF;
        color: #0065FC;
        border-color: #F2F2F2;
        border-left: none;
        cursor: pointer;
    }

     /* filtre header */

     .ensemble-filtre{
        font-size: 1em;
        flex-wrap: wrap;
        padding: 0;
    }
    .segment-filtre{
        width: 100%;
        list-style-type: none;
    }
    .filtre{
        list-style-type: none;
        margin: 0 8px 10px 5px;
    }
    .li-transformation{
        border: 2px solid rgb(199, 198, 198);
        border-radius: 30px;
        border-left: none;
        align-items: center;
        max-height: 51px; 
        cursor: pointer;      /* censé être sur:hover mais en simulation tactile, si je ne le rajoute pas là il ne se passe rien car réactif à <a> */
    }
    .li-transformation i{
        font-size: 1.1em;
    }
    .li-transformation p{
        text-indent: 5px;
        padding-right: 15px;
        border-radius: 30px;
    }

    /*icones de filtres */

    .fa-money-bill-wave{
        padding: 17px 15px 17px 15px;
    }
    .fa-child{
        padding: 17px 19px 17px 19px;
    }
    .fa-heart{
        padding: 17px 17px 17px 17px;
    }
    .fa-dog{
        padding: 17px 16px 17px 16px;
    }
    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
        border-radius: 30px; 
        right: 2px;
    }

    /* interaction filtre */

    .segment-filtre p a:hover{
        color: #0065FC; 
    }
    .li-transformation:hover{
        color: #0065FC;
        background-color: #DEEBFF; 
        border-color: transparent;
        box-shadow: 1px 1px 4px 1px black;
        cursor: pointer;
    }
    .li-transformation:hover i{
        background-color: #0065FC;
        color: #DEEBFF;
    }

    /* information header */

    .info{
        margin-top: 30px;
    }
    .info i {
        font-size: 0.7em;
        border: 1px solid rgb(199, 198, 198);
        border-radius: 12px;
        min-width: 20px;
        height: 20px;
        padding: 3px 2px 2px 2px;
    }
    .info p{
        margin: 0 0 0 10px;
    }

    /* interaction information */

    .info a:hover i{
        color: #DEEBFF;
        background-color: #0065FC;
    }