    /* Mobile first */     
     
    *{
        box-sizing: border-box;
    }
    body{
        font-family: 'Raleway', sans-serif;
        margin: 0 auto;
        padding: 0;
        color: black;
        font-weight: 500;
    }
    ::selection{
        color: #0065FC;
        background-color: #F2F2F2;
    }
    :link{
        color: black;
    }
    .flex{
        display: flex;
    }
    .relative{
        position: relative;
    }
    .absolute{
        position: absolute;
    }

    /* couleur recommandées */

    .bleu{
        color: #0065FC;
    }
    .bleu-c{
        color: #DEEBFF;
    }
    .bg-gris{
        background-color: #F2F2F2;
    }
    .bg-bleu-c{
        background-color: #DEEBFF;
    }

    /* background image */

    .bg-position-centre{
        background-position: center;
    }
    .bg-size-cover{
        background-size: cover;
    }

    /* texte */

    a{
        text-decoration: none; 
    }
    :visited{
        color: black;
    }
    .centrer{
        text-align: center;
    }
    .bolder{
        font-weight: bolder;
    }

    /* byebye alerte w3c*/

    h5{
        display: none;
    }
    
    /* logo menu */

    .logo-menu{
        height: 130px;
        width: 100%;
    }

    /*logo*/

    .logo-menu p{
        left: 15px;
        top: 3px;
    }
    .logo-menu p img{
        width: 100px;
    }

    /* menu */

    nav{
        min-width: 100%;
    }
    nav ul{
        flex-flow: row-reverse wrap-reverse;
        padding-left: 0;
        margin: 0;
        padding-top: 37px;
    }
    nav ul li{
        min-width: 50%;
        list-style: none;
        
    }
    .un{
        order: 2;
    }
    .un, .deux{
        padding: 37px 0 15px 0;
        border-bottom: 2px solid #F2F2F2;
    }
    .trois{
        align-self: flex-start;
        order: 3;
        text-align: end;
        margin-right: 20px;
        color: #0065FC;
    }
    
    /* interaction menu */

    .trois a:link{
        color: #0065FC;
    }
    .trois a:visited{
        color: #0065FC;
    }
    .un:hover, .deux:hover{
        border-bottom: 2px solid #0065FC;
        cursor: pointer;
    }
    .un:hover a, .deux:hover a{
        color: #0065FC;
    } 

    /* tête de page */

    header{
        margin: 0 5%;
    }

    /* slogan */

    .slogan{
        margin-top: 35px;
    }
    .slogan h1{
        font-size: 1.4em;
    }
    .slogan p{
        font-size: 1em;
    }

    /* moteur de recherche header */

    form{
        width: 100%;
        margin: 25px auto;
        height: 50px;
        align-items: center;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
    }

    /*zone de l'icone*/

    .localisation{
        padding: 17px 19px 17px 19px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        font-size: 1.1em;
    }

    /*zone du texte*/

    input[type='search']{
        height: 30px;
        width: 100%;
        margin: 10px 10px;  
        font-size: 1rem;
        font-weight: 700;
        border: none;
        font-family: 'Raleway', sans-serif;
    }
    input[placeholder], input[required]{
        color: black;
    }
    .texte{
        display: none;
    }

    /*zone du bouton*/

    button{
        background-color: #0065FC;
        color: white;
        height: 50px;
        border: none;
        border-radius: 15px;
        font-size: 1.2em;
        padding: 0 15px;
        cursor: pointer;      /* censé être sur:hover mais en simulation tactile, si je ne le rajoute pas là il ne se passe rien car réactif à <a> */
    }
    .bouton{
        display: inline;
    }

    /* interaction moteur de recherche */

    form button[type='submit']:hover{
        background-color: #DEEBFF;
        color: #0065FC;
        border-color: #F2F2F2;
        border-left: none;
        cursor: pointer;
    }

     /* filtre header */

     .ensemble-filtre{
        font-size: 1em;
        flex-wrap: wrap;
        padding: 0;
    }
    .segment-filtre{
        width: 100%;
        list-style-type: none;
    }
    .filtre{
        list-style-type: none;
        margin: 0 8px 10px 5px;
    }
    .li-transformation{
        border: 2px solid rgb(199, 198, 198);
        border-radius: 30px;
        border-left: none;
        align-items: center;
        max-height: 51px; 
        cursor: pointer;      /* censé être sur:hover mais en simulation tactile, si je ne le rajoute pas là il ne se passe rien car réactif à <a> */
    }
    .li-transformation i{
        font-size: 1.1em;
    }
    .li-transformation p{
        text-indent: 5px;
        padding-right: 15px;
        border-radius: 30px;
    }

    /*icones de filtres */

    .fa-money-bill-wave{
        padding: 17px 15px 17px 15px;
    }
    .fa-child{
        padding: 17px 19px 17px 19px;
    }
    .fa-heart{
        padding: 17px 17px 17px 17px;
    }
    .fa-dog{
        padding: 17px 16px 17px 16px;
    }
    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
        border-radius: 30px; 
        right: 2px;
    }

    /* interaction filtre */

    .segment-filtre p a:hover{
        color: #0065FC; 
    }
    .li-transformation:hover{
        color: #0065FC;
        background-color: #DEEBFF; 
        border-color: transparent;
        box-shadow: 1px 1px 4px 1px black;
        cursor: pointer;
    }
    .li-transformation:hover i{
        background-color: #0065FC;
        color: #DEEBFF;
    }

    /* information header */

    .info{
        margin-top: 30px;
    }
    .info i {
        font-size: 0.7em;
        border: 1px solid rgb(199, 198, 198);
        border-radius: 12px;
        min-width: 20px;
        height: 20px;
        padding: 3px 2px 2px 2px;
    }
    .info p{
        margin: 0 0 0 10px;
    }

    /* interaction information */

    .info a:hover i{
        color: #DEEBFF;
        background-color: #0065FC;
    }

    /* Hebergement */

    /* carte informative hebergement populaire*/

    .ensemble-carte-informative-article a, .ensemble-carte-informative-populaire a{
        box-shadow: 1px 3px 8px 1px #e2e2e2;
        border-radius: 18px; 
    }

    /* hebergement */

    article h2{
        font-size: 1.4em; 
        padding-top: 12px;
        margin-left: 5%;
    }
    .ensemble-carte-informative-article{
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .ensemble-carte-informative-article a{
        margin: 5px 0;
        width: 90%;
    }
    .carte-informative-article{
        border-radius: 18px; 
        height: 195px;
    }
    .carte-informative-article p{
        margin: 2px 20px 2px 5%;
    }
    .prix{
        font-size: 0.8em;
        line-height: 1.8em;
    }
    .plus{
        margin: 0 0 25px 3%;
        padding: 28px 0 0 10px;
        font-size: 1.1em;
    }

    /* éléments texte des cartes article et populaire */

    .carte-informative-article p i, .carte-informative-populaire p i{
        font-size: 0.7em;  
    }
    span{
        margin: 0 2px;
    }

    /* spécificité carte hebergement */

    .cannebiere{
        background-image: url(../images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
        background-position-y: -50px;
    }
    .port{
        background-image: url(../images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    .mouettes{
        background-image: url(../images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    .mer{
        background-image: url(../images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    .Panier{
        background-image: url(../images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    .Amina{
        background-image: url(../images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }
    .cannebiere, .port, .mouettes, .mer, .Panier, .Amina{
        margin: 5px 5px;
        height: 115px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    /*les plus populaires*/

    .populaire{
        margin-top: 25px;
        padding: 30px 0;
    }
    .populaire h2{
        margin: 0 5%;
        font-size: 1.4em; 
        padding: 8px 0;
    }
    .populaire h2 i{
        right: 0;
        font-size: 1em;
    }
    .ensemble-carte-informative-populaire{
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 10px;
    }
    .ensemble-carte-informative-populaire a{
        margin: 5px 0;
        width: 90%;
    }
    .carte-informative-populaire{
        align-items: center;
        background-color: white;
        border-radius: 18px; 
        height: 145px;
    }
    .texte2{
        height: 105px;
        margin-left: 4.5%;
    }
    .texte2 .etoile{
        bottom: 0;
    }
    .texte2 p{
        margin: 0px 10px 2px 10px;
    }
    .texte2 p:last-child{
        padding-bottom: 10px;
    }
    
    /*carte spécifique populaire*/

    .soleil{
        background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    }
    .coeur{
        background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }
    .Blanc{
        background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }
    .soleil, .coeur, .Blanc{
        min-width: 36%;
        height: 134px;
        margin-left: 5px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    /* interaction populaire */

    .populaire h2 i:hover{
        color: #0065FC;
        cursor: pointer;
    }

    /* interaction cartes article et populaire */

    .ensemble-carte-informative-article a:hover, .ensemble-carte-informative-populaire a:hover{
        box-shadow: 2px 3px 6px 2px black;
    }

    /* interaction du main */

    .plus a:hover{
        color: #0065FC;
    }

    /* Activités à Marseille */

    .activité{
        margin: 0 0 60px 0;
    }
    .activité h3{
        margin: 22px 0 22px 5%;
        font-size: 1.3em;
    }
    .carte-activité{
        flex-flow: column wrap;
        justify-content: space-between;
        height: 1255px;
        align-content: space-around;
    }
    .carte-activité a{
        border-radius: 20px;
        box-shadow: 1px 3px 8px 1px #e2e2e2;
        width: 90%;
    }
    .carte-informative3, .carte-informative4, .carte-informative5, .carte-informative6, .carte-informative7{
        height: 190px;
        border-radius: 20px; 
    }
    .carte-informative3 p, .carte-informative4 p, .carte-informative5 p, .carte-informative6 p, .carte-informative7 p{
        margin-left: 3%;
        font-size: 1em;
        margin-top: 20px;
    }

    /*carte spécifique activité*/

    .VieuxPort{ 
        background-image: url(../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    .PNC{
        background-image: url(../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }
    .Pomegues{
        background-image: url(../images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    }
    .frioul{     
        background-image: url(../images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    }
    .NDDLG{
        background-image: url(../images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
        background-position-y: -30px;
    }
    .longchamp{
        background-image: url(../images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
        background-position-y: -80px;
    }
    .VieuxPort, .PNC, .Pomegues, .frioul, .NDDLG, .longchamp{
        height: 133px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    /* interaction activité */

    .carte-activité a:hover{
        box-shadow: 2px 3px 6px 2px black;
    }

    /* pied de page */

    footer{
        padding-bottom: 40px; 
    }
    .pied-de-page{   
        line-height: 0.75em;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 1.3%;
    }
    .pied-de-page div{
        margin: 0 5.9%;
    }
    .pied-de-page div H4{
        padding: 45px 0 10px 0;
        font-size: 1.1em;
    }
    
    /* interaction pied de page */

    .pied-de-page div a:hover{
        color: #0065FC;
    }
